main {
    background-color: lightgray;
}

.navbar-brand {
    background-color: gray;
}

.container {
    background-color: white;
    margin: 30px auto;
      /* Box-model */
    box-sizing: border-box;

}
h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: blue;
}

main img {
    width: 240px;
    float: left;
    margin: 35px;
}

.card img {
    width: 240px ;
}

.card {
    margin: 15px ;
}