* {
    box-sizing: border-box;
  }

.navbar-brand {
    background-color: gray;
    padding: 20pt;
    border-radius: 8px;
}



main {
    margin-top: 40px;
    margin-bottom: 40px;
    }

main h1 {
    margin: 30px;
}

main img {
    float: left;  
    margin-right: 30px;
    margin-bottom: 30px;
    width: 200px;
  }

section h1 {
    margin-top: 30px;
    margin-left: 60px;
}

.contactinfo {
    margin-left: 5%;
}

.container {
    background-color: rgb(192, 197, 201);
    margin-bottom: 3%;
    border-radius: 12px;
}
.portfolio-card {
    text-decoration: underline
}
.card-img-top {
    margin-top: 30px;
}

.container h1 {
    margin: 30px;
    margin-left: 60px;
}
  
footer {
      text-align: center;
      color: lightgray;
      background-color: gray;
      margin-left: 30px;
      margin-right: 30px;
      border-radius: 4px;
  }

footer h2 {
    font-size: 15px;
}